{% extends 'base.html' %}
{% block title %}{{user.first_name}}{% endblock %}
{% block content %}

<h1>Editing {{user.first_name}}</h1>
<body>
    <form action="{{ url_for('edit_user', user_id=user.id) }}" method="POST">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" value={{user.first_name}}><br>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" value="{{user.last_name}}"><br>
        <label for="img_url">IMG URL</label>
        <input type="text" name="img_url" value="{{user.image_url}}">
        <button>Save</button>
    </form>
    <form action="/{{user.id}}">
        <button>Cancel</button>
    </form>
</body>


{% endblock %}
