{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}


<body class="bg-slate-100 ml-3">
    <h1 class="text-7xl font-bold text-blue-800 leading-normal">Users <a href="/tags" class="text-5xl font-bold text-green-500 leading-normal">Tags</a><span class="text-2xl text-green-500">&#35;</span></h1>
    <ul class="text-5xl text-blue-600 font-semibold leading-normal mt-10">
        {% for user in users %}
        <li class="text-blue"><a href="/{{user.id}}">{{user.get_full_name()}}</a></li>
        {% endfor %}
    </ul>
    <form action="/add_user">
        <button class="bg-green-500 rounded-3xl py-3 px-8 font-medium 
        mr-4 mt-4 hover:bg-transparent hover:border-blue-400 
        hover:text-blue-500 duration-300 hover:border border border-transparent">Add User</button>
    </form>
</body>

{% endblock %}
